body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: 100vh;
  background-color: rgb(19, 19, 71);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.features i {
  font-size: 3rem;
  color: #0d6efd;
  margin-bottom: 15px;
}
